*{
    padding: 0%;
}
header{
  
    display: flex;
    justify-content: space-between;
    
}
.img1{
    margin-left: 40px;
}
.cart{
    justify-content: end;
   margin-right: 50px;
   font-size: 15px;
    
}

.text{
    color: white;
    margin-top: -410px;
    margin-left: 80px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 60px;
}
.third{
    margin-left:  40px;
    margin-top: 153px;
    font-size: 20px;
    
}
.imgseries{
   display: flex;
   margin-left: 40px;
    gap: 30px;
    margin-top: 10px;
    justify-content: center;
}
 button{
    background-color: rgb(14, 169, 240);
    border-radius: 5px;
    color: white;
    display: flex;
    margin-left: 76px;
    margin-top: -19px;
    width: 50px;
    
 }
.small{
    color: gray;
    font-size: 15px;
    
 }
 .fourth{
    margin:0 40px;
    margin-top: 124px;
 }
.imageseries1{
    display: flex;
    justify-content: space-between;

}
.games img{
    width: 250px;
}
.but{
    background-color: rgb(14, 169, 240);
    border-radius: 5px;
    color: white;
    display: flex;
    margin-left: 189px;
    margin-top: -19px;
    width: 65px;
    height: 21px;
}
.but .cart1{
    width: 16px;
}
.caps{
    font-size: 20px;
    margin-bottom: 17px;
}
footer{
    background-color: black;
    /* height: 200px; */
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.brought h3{
    margin: 3px;
    font-weight: 100;
}
.brought .img{
    width: 100px;
    height: 100px;
    border-radius:50% ;
    background-image: url("./krishti.png");
    background-position: center;
    background-size: cover;
}
.name{
    margin-top: 30px;
    text-align: end;
    font-size: 14px;
}
.name h3{
    margin: 5px;
}
.name p{
    margin: 0%;
}
@media screen and (max-width: 500px){

*{
    padding: 0%;
}
header{
  
    display: flex;
    justify-content: space-between;
    
}
.img1{
    margin-left: 40px;

}
.img3 img{
    height: 400px;
}
.cart{
    justify-content: end;
    margin-right: 50px;
    font-size: 15px;
    
}

.text{
    color: white;
    margin-top: -410px;
    margin-left: 80px;
    
}
h1{
    font-size: 60px;
}
h2{
    font-size: 60px;
}
.third{
    margin-left:  40px;
    margin-top: 148px;
    font-size: 33px;
    margin-left: 56px;
    
}
.imgseries{
   display: flex;
   margin-left: 40px;
    gap: 30px;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 100px;
}
 button{
    background-color: rgb(14, 169, 240);
    border-radius: 5px;
    color: white;
    display: flex;
    margin-left: 76px;
    margin-top: -19px;
    width: 50px;
    
 }
.small{
    color: gray;
    font-size: 15px;
    
 }
 .fourth{
    margin:0 40px;
    margin-top: 124px;
 }
.imageseries1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.games img{
    width: 250px;
}
.but{
    background-color: rgb(14, 169, 240);
    border-radius: 5px;
    color: white;
    display: flex;
    margin-left: 189px;
    margin-top: -19px;
    width: 65px;
    height: 21px;
}
.but .cart1{
    width: 16px;
}
.caps{
    font-size: 33px;
    margin-bottom: 17px;
    margin-left: 2px;
}
footer{
    background-color: black;
    /* height: 200px; */
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.brought h3{
    margin: 3px;
    font-weight: 100;
}
.brought .img{
    width: 100px;
    height: 100px;
    border-radius:50% ;
    background-image: url("./krishti.png");
    background-position: center;
    background-size: cover;
}
.name{
    margin-top: 30px;
    text-align: end;
    font-size: 14px;
}
.name h3{
    margin: 5px;
}
.name p{
    margin: 0%;
}
}